services:
  postgres:
    container_name: tsv_postgresql
    image: postgres:latest
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_net

  app:
    build:
      context: .
      dockerfile: cmd/Dockerfile
    container_name: app
    restart: unless-stopped
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    volumes:
      - ./tsv_files:/app/tsv_files
      - ./reports:/app/reports
    networks:
      - app_net

networks:
  app_net:
    driver: bridge

volumes:
  postgres_data:
    driver: local