POSTGRES_USER=PGUSER
POSTGRES_NAME=DB
POSTGRES_PASSWORD=1234
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
POSTGRES_MIN_CONNS=1
POSTGRES_MAX_CONNS=5

REPORT_DIR_PATH=./reports
TSV_DIR_PATH=./tsv_files
POLLING_SECONDS_INTERVAL=5
LOG_DIR_PATH=./logs