POSTGRES_USER=PGUSER
POSTRGES_NAME=DB
POSTGRES_PASSWORD=1234
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

REPORT_DIR_PATH=path/to/save/reports
TSV_DIR_PATH=path/where/tsv/files
POLLING_SECONDS_INTERVAL=60